/*resets*/
.tc-wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    text-align: center;
}
.tc-wrapper *,
.tc-wrapper *:before,
.tc-wrapper *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 100%;
}
.tc-wrapper a {
    text-decoration: none;
    color: black;
    display: block;
    cursor: pointer;
}
.tc-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
}
/*main*/
.tc-wrapper {
    color: #29486e;
}
.tc-header {
    padding: 18px 0;
    cursor: pointer;
    user-select: none;
    background-color: #e3e8ec;
    border-top: 4px solid #e3e8ec;
}
.tc-header--active {
    background-color: white;
    border-top: 4px solid #15a1a2;
}
.tc-content {
    text-align: left;
    display: none;
}
.tc-content h4 {
    margin-bottom: 15px;
}
.tc-content p {
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 120%;
}
.tc-content--active {
    display: block;
}
@media (min-width: 1024px) {
    .tc-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
    }
    .tc-header {
        order: 1;
        width: 160px;
    }
    .tc-content {
        order: 2;
        padding: 0 40px;
    }
    .tc-content h4 {
    margin-top: 45px;
    font-size: 22px;
}
}